*.py[cod]
*.html
*.png
_version.py

*.egg-info
.eggs/*
__pycache__/*
dist/*

.coverage
.coverage.*
htmlcov/*

doc/build/*
build/*

.idea/*

**/.ipynb_checkpoints
*~*

.venv/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
config.bat
node_modules
